<!DOCTYPE html>
<html>
  <head>
    <title>login | rBlog</title>

    <%= stylesheet_link_tag    'admin/login', media: 'all', 'data-turbolinks-track' 'reload' %>

        <%= csrf_meta_tags %>

  </head>

  <body>
    
    <div class="container">
      <%= yield %>
    </div>
     
  </body>
</html>